<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>My Blog</h1>
                <p>This is a Spooky (skeleton) blog site written in JavaScript (and Node).</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>I've Existed! (kinda)  </h3>
                    <ul>
                        <li><a href="views/posts/1Post.ejs">Whats With the healthly and nutritional name?</a></li>
                    </ul>
            </div>
          </div>
        </div>
    </body>
</html>
