<!DOCTYPE html>
<html>
	
    <head>
		<style>
	a:hover {Font-size: 18px;}
	 a{
  color: blue;
  text-decoration: none; /* no underline */
}
 </style>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %> 
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Panky's Blog</h1>
                <p>This is a Spooky (skeleton) blog site written in JavaScript (and definitly not HTML).</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    
                    <h2>I've Existed! (kinda)  </h2>
                    <p>If you feel like it, there are secret messages in this page and the blogs which you can try find.</p>                   
                    <ul>
                        <li><a href="posts/1Post.ejs">Whats With the healthly and nutritional name?</a></li>
                        <li><a href="posts/Supercereal.ejs">Super Cereal Programming talk</a></li>
                        <li><a href="posts/secret.ejs">It's a secret!</a></li>
                        <li><a href="posts/shizzle.ejs">This blog is a hole load of...</a></li>                 
                        <li  style = "font: comic sans; color: white;"> EVIL COMIC SANS STRIKES AGAIN!!!!</li>
                    </ul> 
                    <footer>Mr. Sandman, bring me a dream</footer> 
		<footer>Make him the cutest that I've ever seen</footer> 
		<footer>Give him the word that I'm not a rover</footer> 
		<footer>Then tell him that his lonesome nights are over</footer> 
        <footer></footer> 
		<footer>Sandman, I'm so alone</footer> 
		<footer>Don't have nobody to call my own</footer> 
		<footer>Please turn on your magic beam</footer> 
        <footer> Mr. Sandman, bring me a dream</footer>                     
            </div>
          </div>
        </div> 
             
        <script> alert('Welcome To some Random Teenagers Blog. You wierdo.')
		console.log("Congrats On being 1337 hacker, My card deets are 1111 666 0420 1337 exp 06/09 Security code: 999(call teh cops)");
		</script>
    </body>
</html>
