<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %> 
        <div class="jumbotron text-center">
            <div class="container">
                <h1>My Blog</h1>
                <p>This is a Spooky (skeleton) blog site written in JavaScript (and definitly not HTML).</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>I've Existed! (kinda)  </h2>
                    <ul>
                        <li><a href="posts/1Post.ejs">Whats With the healthly and nutritional name?</a></li>
                        <li><a href="posts/Supercereal.ejs">Super Cereal Programming talk</a></li>
                    </ul>
                    <button onclick="getElementById('demo').innerHTML=Date()">The time is?</button>
        <p id="demo"></p>
            </div>
          </div>
        </div>
        <script>
		console.log("Congrats On being 1337 hacker, My card deets are 1111 666 0420 1337 exp 9/11/2001 Security code: 999(call teh cops)");
		</script>
    </body>
</html>
