<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Wierd Name?? Say whaa.</h3>
                <p>If any of you had a child hood or even existed</p>
                <p>you may have seen an online animated show called</p>
                <p>Edd's world. It was a really funny growing show</p>
                <p>However, God was having another drunken rampage</p>
                <p>and he got cancer. But one of his animations had</p>
                <p>a funny scene (to us at the time) of the characters</p>
                <p>sliding into hell saying broccoli.</p>
                <p>For one reason or another the joke stuck with us</p>
                <p>But yea, you just spent like 5 mins reading an entire</p>
                <p>post about a joke on broccoli from a long time ago. </p>
                <p>YOU DIDNT EVEN GET THE JOKE IN THIS POST... Dumbass</p>
               <p></p>
                <p>And just because the brain power of the entire internet</p>
                <p>add up to an I.Q of 2 I dont mean my user name but the domain</p>
				<P> <img src="Yo.png"  alt="=Eddsworld" style= "width:1600px;height:2526px;"> </P>
            
            </div>
          </div>
        </div>
        <script> console.log ("BROCCOLI IS SUPREME, SUPREMERER THAN SUPREME CHICKEN") </script>
    </body>
</html>
