<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Why i deserve Victory pie</h3>
                <p>'MERICA F**k Yea, freedom is the only way YEA!</p>
                <p>Nah but despite displaying near to none</p>
                <p>programming skills, and the heavy amount of</p>
                <p>grammarical error (you dam grammar nazis), </p>
                <p>You may not want me to win. But I mean do</p>
                <p>you really care who wins? If you give it to me </p>
                <p>then ill go halfies on it (if possible) or, or</p>
                <p>you can have it all and just give me the victory status.</p>
                <p>Infact by letting anyone win then You want yourself to lose</p> 
                <p>which is stupid. Do you want to be stupid??? Are you stupid?</p>
                <p></p>
                <p>Also there are multiple console log posts you may have missed. Dip-s**t</p>                
            </div>
          </div>
        </div>
        <script>
		console.log("MERICA, FUCK YEA, FREEDOM IS THE ONLY WAY YEA!MERICA FUCK YEA!; )
		</script>
    </body>
</html>
