<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>So atleast you're self-aware...</h3>
                <p>So you think you're stupid. The fact you are</p>
                <p>On my blog means you're probably right... So good luck</p>
                <p>to you. Any way, open your web console. Hmm? what? You dont</p>
                <p>know how? Really? REALLY? I dont know just spam all the buttons.</p>
                <p>Because Im 50% a programmer have a link for you to do it you're self.</p>
                <p>https://www.wickedlysmart.com/hfjsconsole/</p>
                <p>When you do this you should see all the secret messages.</p>
                <p>If you dont see it then, you are dumb deaf and blind... Or</p>
                <p>just blind i guess. Make Sure it's on the console and not the</p>
                <p>dam inspector or whatever.</p>
                <p></p>
                <script> console.log ("Congrats, You have a slither of techincal Specialty.")</script>
            </div>
          </div>
        </div>
    </body>
</html>
