<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Bag of swelled up S**t, Yea thats me.</h3>
                <p>Just think about this, Why is the phrase excuse my french. I mean the </p>
                <p>stereotype of the french isn't a swearing a bunch or something, that</p>
                <p>title is reserved for us. Should be "excuse my british".</p>
                <p>Anyway, I figured you should know that compared to other</p>
                <p>self made blogs, mine is a bag of... well refer to the title. </p>
                <p>The fact is, Im not a programmer. Barely learnt enough</p>
                <p>to make a blog. I got half this stuff straight from the web.</p>
                <p>Yet still I enjoy the hell out of it.Doing things liek Trying to solve </p>
                <p>bits of code. Learning as you create a program to make making programs</p>
                <p>easier. It's awesome. But no matter how much I believe, I aint</p>
                <p>raisin Tinkerbell from the dead.</p>
                <script> console.log ("")</script>
            </div>
          </div>
        </div>
    </body>
</html>
