<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Super Cereal Programming talk</h3>
                <p>It's a well know fact that all programmers are</p>
                <p>Middle-aged men that live in their mother's basements.</p>
                <p>Due to the fact they are all disabilitatingly fat</p>
                <p>they must be lazy so they can eat more. This and problem</p>
                <p> solving are vital to being a good programmer. This means</p>
                <p>Im already 50% there. From my teeny tiny understanding </p>
                <p>this is done via re-using functions and procedures or</p>
                <p>even entire old programs. The point is that good programmers </p>
                <p>are extremely resourceful and effiecent. So aslong as We dont</p>
                <p> get rage zombies or running ones, computer nerds Will be</p>
                <p> the only survivers. Especially with all the "insulation" they carry</p>
            </div>
          </div>
        </div>
    </body>
</html>
