<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Super Cereal Programming talk</h3>
                <p>It's a well know fact that all programmers are</p>
                <p>Middle-aged men that live in their mother's basements.</p>
                <p>Due to the fact they are all disabilitatingly fat</p>
                <p>they must be lazy so they can eat more. This and problem</p>
                <p> solving are vital to being a good programmer. This means</p>
                <p>most of you are already 50% there. From my teeny tiny understanding </p>
                <p>this is done via re-using functions and procedures or</p>
                <p>even entire old programs. Lots of jobs are just done by copying</p>
                <p>Most of someone else program with small varifactions </p> 
                <p>The point is that good programmers are extremely resourceful and effiecent.</p>
                <p> So aslong as We dont get rage or running zombies, computer nerds Will be</p>
                <p> the best at surviving the apocalypse. Especially with all the "extra food" they carry</p>                
            </div>
          </div>
        </div>
        <script>
		console.log("Im gonna put sekrit Messages In Yo console for teh Gulag.Praise Stalin!");
		</script>
    </body>
</html>
